body {
	margin: 0;
	padding: 0;
    background-color:   #ffffff;
}
#wrapper {
    margin: 0 auto;
    width:  80%;
	text-align: center;
}
nav {
	background-color: #444444;
	padding: 1px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    /*padding: 0;*/
    list-style: none;
    /*font-weight: bold;*/
	text-align: center;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
	color: #CACACA;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
	font-family: "Arial Black", Gadget, sans-serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
